GEODNS_ADMIN_PORT=3000
GEODNS_ADMIN_USERNAME=admin
GEODNS_ADMIN_PASSWORD_HASH=
GEODNS_ADMIN_SESSION_SECRET=
GEODNS_ADMIN_COOKIE_SECURE=false
GEODNS_ADMIN_DB_PATH=/var/lib/geodns-admin/admin.db
COREDNS_ROOT=/etc/coredns
GEODNS_GEOIP_DB_PATH=/etc/coredns/geoip/GeoLite2-City.mmdb
COREDNS_SERVICE=coredns
